/* General Styles */

@font-face {
    font-family: armata;
    src: url(Armata-Regular.ttf);
  }
body {
    font-family: armata;
    color: #333;
    font-weight:bold;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.6;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


header {
    background-color: #293d52;
    padding: 20px;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
    display: inline-block;
}

nav img {
    vertical-align: middle;
    width: 24px;
    
}

/* Section and Slide-In Animation */
section {
    opacity: .3;
    transform: translateY(100px); /* Start position for sliding in */
    transition: opacity 0.6s ease, transform 0.6s ease;
    padding: 40px 20px;
    scroll-snap-align: start;
}

section.visible {
    opacity: 1;
    transform: translateX(0); /* End position */
}

section h2 {
    font-size: 1.8em;
    color: #0073e6;
}

section img {
    width:  150vh;
    height:60vh;
    border-radius: 8px;
    margin-top: 20px;
}


.button {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 40px;
    border: 10px solid #92e9ffb0;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: fit-content;
    padding: 10px;
    text-align: center;
  }